.card {
  background-color: #1a1a1a;
  min-width: 240px;
  margin: 0 auto;
  padding: 16px 12px;
}

mat-card {
  max-width: 800px;
  margin: 0 auto;
  padding: 42px 16px;
  margin-bottom: 8px;
}

mat-form-field, textarea {
  width: 100%;
}

button[type="submit"] {
  margin-top: 0.5rem;
  background: #1a1a1a;
  color: white;
  height: 36px;
  width: 28px;
}




.accordion {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 16px;
  margin-bottom: 16px;
}

mat-expansion-panel-header .mat-content {
  justify-content: flex-start;
}

.accordion mat-panel-description {
  justify-content: space-between;
  align-items: center;
}

.accordion * {
  overflow: hidden;
}

.info-text {
  text-align: center;
}

.accordion .mat-expansion-panel-header-title,
.accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}
