<header class="navbar navbar-expand-lg navbar-dark bg-primary align-items-center justify-content-between p-3 px-4 mb-3">
  <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 60px;" routerLink="/">

  <nav class="my-2 text-uppercase fs-4" style="background-color: #ffffff">
    <a class="p-2"
       routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
    >Home</a>
    <a class="p-2" routerLink="/movies" routerLinkActive="active">Movies</a>
  </nav>


  <div class="d-flex align-items-center">
    <a routerLink="/favourites" class="position-relative">
      <i class="bi bi-box2-heart-fill  me-4" style="color: #ffffff"></i>

    </a>
    <ng-container *ngIf="(accountService.currentUser$ | async) === null">
      <a routerLink="/account/login" class="btn btn-secondary my-2 my-sm-0 me-2" href="#" >Login</a>
      <a routerLink="/account/register" class="btn btn-secondary my-2 my-sm-0 me-3" href="#" >Sign up</a>
    </ng-container>

    <ng-container *ngIf="accountService.currentUser$ | async as user">
      <div class="dropdown ms-3 me-5" style="cursor: pointer;" dropdown>
        <a dropdownToggle class="dropdown-toggle">
          <strong>Welcome {{user.displayName}}</strong>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li class="py-1">
            <a routerLink="/basket" class="dropdown-item">
              <i class="bi bi-cart-fill me-3"></i> View basket
            </a>
          </li>
          <li class="py-1">
            <a routerLink="/orders" class="dropdown-item">
              <i class="bi bi-file-earmark-person-fill me-3"></i> View orders
            </a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="py-1">
            <a (click)="accountService.logout()" class="dropdown-item">
              <i class="bi bi-door-open me-3"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </ng-container>

  </div>

</header>

