.checked{
  color: orange;
}
mat-icon{
  cursor: pointer;
}

.card {
  color: #ffffff;
  background-color: #1a1a1a;
  border: 1px solid #a9a9a9;
  font-size: medium;
  width: 10rem;
  height: 5rem;
}
