<carousel>
  <slide>
    <img src="assets/images/image (2).jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 style="color: #ffffff">About Cinema is the popular and authoritative source for movie and TV</h3>
    </div>
  </slide>
  <slide>
    <img src="assets/images/image (1).jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 style="color: #ffffff">About Cinema is the popular and authoritative source for movie and TV</h3>
    </div>
  </slide>
</carousel>
